@page
<div class="container">
    <canvas id="canvas" width="800" height="500" onmouseout="clearMousePositions()"></canvas>
    <select id="color">
        <option value="black">Black</option>
        <option value="red">Red</option>
        <option value="yellow">Yellow</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
    </select>
    <div id="output">
    </div>
</div>
<script src="~/postit/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/postit/js/board.js"></script>

