@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <head>


        @section Scripts
        {
            <script src="~/postit/js/jquery-3.4.1.min.js"></script>
            <script src="~/postit/js/jquery-ui.min.js"></script>
            <script src="~/postit/js/StickyNotes.js"></script>
            <script src="~/postit/js/axios/axios.min.js"></script>
        }
    </head>
    <body>
        <br />
        <div id="bord">

        </div>

    </body>


